.recent-articles > a:not(:last-child) {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
  text-align: left;
  background: rgba(0, 0, 0, 0.85);
  color: rgba(255, 255, 255, 0.9);
  transition: background 250ms linear, color 100ms linear, box-shadow 500ms linear; }
  .recent-articles > a:not(:last-child):not(:first-child) {
    margin-top: 10px; }
  .recent-articles > a:not(:last-child):hover {
    box-shadow: inset 0px -250px 0px 0px white;
    color: rgba(0, 0, 0, 0.85); }
  .recent-articles > a:not(:last-child).active {
    background: white;
    color: rgba(0, 0, 0, 0.85); }

.recent-articles a > div:first-child {
  color: #909088;
  font-size: 16px;
  font-weight: 400; }

.recent-articles a > div:not(:first-child) {
  color: inherit;
  padding-top: 5px;
  font-size: 20px;
  font-weight: 500; }

.recent-articles-more {
  width: 100%;
  height: 50px;
  display: block;
  line-height: 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.85);
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 10px; }
  .recent-articles-more:hover {
    transition: all 250ms linear;
    box-shadow: inset 0px -2px 0px 0px rgba(255, 255, 255, 0.9); }
