@import "../../var.scss";

.menu
{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; // lmao

    background: $tblack;

    @media #{ $desktop }
    {
        top: 10px;
        height: 50px;
        flex-flow: row nowrap;
        width: 1260px;
        left: calc(50% - 630px);
    }

    @media #{ $mobile }
    {
        z-index: 998;
        left: 0;
        top: 0;
        flex-flow: column nowrap;
        width: 100%;
        height: 100vh;
    }
}

.menu-links
{
    display: flex;
    justify-content: center;
    align-items: center;

    @media #{ $desktop }
    {
        flex-flow: row nowrap;
    }

    @media #{ $mobile }
    {
        margin-top: 50px;
        flex-flow: column nowrap;
    }
}

.menu-links a
{
    display: block;
    height: 50px;
    width: 100px;
    color: $twhite;

    text-align: center;
    line-height: 50px;
    font-weight: bold;

    &:hover, &.active
    {
        transition: all 250ms linear;
        //box-shadow: inset 0px -2px 0px 0px $twhite, 0px -2px 0px 0px $twhite;
        box-shadow: inset 0px -2px 0px 0px $twhite;
    }

    &.active
    {
        box-shadow: inset 0px -2px 0px 0px $twhite;
    }
}

.menu-title
{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 50px;

    color: $twhite;
    font-weight: bold;
    font-size: 2em;
    padding: 0 10px;

    @media #{ $desktop }
    {
        position: absolute;
        left: 0px;

        &:hover
        {
            transition: all 250ms linear;
            box-shadow: inset 2px 0px 0px 0px $twhite;
        }
    }

    @media #{ $mobile }
    {

    }


}