.list_articles {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
  width: 100%; }

.list {
  background: rgba(0, 0, 0, 0.85); }

.list_articles .alink {
  display: block;
  margin-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #9a9a9a;
  transition: border-bottom-color 150ms linear; }
  .list_articles .alink:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.9); }

.list_articles .title {
  font-size: 1.2em;
  font-weight: 500;
  padding: 10px;
  padding-bottom: 5px; }

.list_articles .date {
  font-size: 1em;
  font-weight: 400;
  padding: 10px;
  color: #909088; }

.list_articles .aimg {
  display: block;
  width: 100%; }

.list_articles .aimg img {
  display: block;
  width: 100%;
  border-left: 3px solid rgba(0, 0, 0, 0.85);
  border-right: 3px solid #222;
  border-top: 3px solid #222; }
