.bg-0 {
  z-index: -3;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh; }
  @media only screen and (max-width: 1279px) {
    .bg-0 {
      background-image: url("bg-3-s.jpg");
      background-size: cover; } }
  @media only screen and (min-width: 1280px) {
    .bg-0 {
      background-image: url("bg-3-d.jpg");
      background-size: cover; } }

.bg-1 {
  z-index: -2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-image: url("grid2.png");
  background-repeat: repeat; }
